.root {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff4e2 !important;
  padding: 0 35px 0 10px;
  height: 60px;
  margin-bottom: 14px;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerRight {
  display: flex;
  align-items: center;
}

.logo {
  width: 32px;
  height: 42px;
  margin: 0 25px 0 10px;
}

.searchBlock {
  position: relative;
  margin-right: 15px;
  width: 300px;
  svg {
    position: absolute;
    top: 8px;
    left: 10px;
    opacity: 0.3;
  }
  input {
    width: 100%;
    height: 38px;
    border: none;
    font-family: inherit;
    background-color: transparent;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding-left: 40px;
    transition: all 0.1s ease-in-out;
    border: 1px solid transparent;
    &:hover,
    &:focus{
      background-color: #fff;
      border-color: darken(#fff4e2, 15%);
      box-shadow: 0 0 0 3px rgba(229, 160, 64, 12%);
    }
  }
}

.avatar{
  margin: 0 6px 0 15px;
}

.penBtn{
  display: flex;
  align-items: center;
  svg{
    margin-left: 10px;
  }
  background-color: white !important;
  color: black !important;
  min-width: 40px !important;
  text-transform: inherit !important;
  font-size: 16px !important;
  letter-spacing: 0 !important;
}