.avatar {
  display: flex;
  justify-content: space-between;
}

.newSubscribers {
  display: flex;
  margin: 10px 0;
}

.subscribersBody {
  display: flex;
  align-items: flex-start;
}

.subscribersPost {
  flex: 1;
  margin-right: 20px;
}

.subscribersAvatar {
  display: flex;
  margin-top: 15px;
}

.settingBtn {
  height: 42px;
  min-width: 45px;
  width: 45px;
  margin-right: 10px;
  background-color: white !important;
  color: black !important;
  min-width: 40px !important;
  text-transform: inherit !important;
  font-size: 16px !important;
  letter-spacing: 0 !important;
}
