.btn{
  min-width: 30px;
  width: 35px; 
  height: 30px;
  background-color: white !important;
  color: black !important;
  text-transform: inherit !important;
  font-size: 16px !important;
  letter-spacing: 0 !important;
}